body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax {
    min-height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* ยืดภาพ */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --- กำหนดภาพพื้นหลัง --- */
.img1 {
    background-image: url('https://www2.zoolyx.be/wp-content/uploads/2020/09/dog-sad.jpg'); 
}
.img2 {
    background-image: url('https://www.animalia-life.club/data_images/dog/dog2.jpg'); 
}

.static-block {
    height: 400px; 
    background-color: black;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.message {
    background-color: transparent;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000; 
}
