body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: fle
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card-container {
    background-color: white;
    width: 300px; /* ความกว้างการ์ด */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    text-align: center;
    border-radius: 5px;
    overflow: hidden; 
}


.card-title {
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
}


.profile-pic {
    width: 100%;      
    height: 250px;   
    object-fit: cover; 
    display: block;
}

.profile-info {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-info td {
    border: none; 
    padding: 5px;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 22px;
}

.desc {
    color: gray;
    font-size: 14px;
}


.social-icons span {
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

/* ปุ่ม Contact  */
.contact-btn {
    padding: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
}

.contact-btn:hover {
    background-color: #333;
